body {
    background-color: rgb(253, 233, 240);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

a {
    color: rgb(236, 129, 147);
}

header {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    color: #272044;
}

.form-container {
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    padding: 15px 20px;
}

form {
    display: flex;
}

.instructions {
    padding: 16px;
    border: 1px solid rgba(39, 33, 66, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    color: black;
}

.hint {
    line-height: 1.5;
    margin-top: 5px;
    font-size: 12px;
    opacity: 0.6;
}

.submit-button {
    margin-left: 10px;
    background-color: pink;
    border: none;
    border-radius: 50px;
    width: 150px;
    padding: 14px 24px;
    font-size: 16px;

}

.generating {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

.short-story {
    font-size: 16px;
    background-color: #fff;
    padding: 20px;
    line-height: 24px;
    border-left: 3px solid pink;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 0px 10px 10px 0px;
}

.short-story strong {
    color: palevioletred;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}
